<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include ('./partials/navbar') %>
        <div class="container">
            <div class="post">
                <h2>El texto de un examen</h2>
                <img src="img/descarga.jpg" alt="">
                <p>EXAMENNNNNNNNNNNNN
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate sequi dolorum assumenda alias,
                    hic eligendi necessitatibus.
                    Quia labore ducimus rem, ex unde voluptas nostrum dicta dolor beatae, odio maxime magni?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi atque, minima eveniet suscipit ipsa
                    vero voluptates repellat cupiditate.
                    Similique saepe quisquam temporibus obcaecati est alias culpa odit voluptatibus corrupti! Illum.</p>
            </div>
            <div class="post">
                <h2>Segundo titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vel nostrum velit numquam
                    facilis voluptatum.
                    Facilis recusandae dignissimos vero consequuntur, doloribus optio, temporibus modi vitae esse,
                    molestiae itaque accusamus animi?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti dicta hic repellat maiores
                    recusandae libero similique ipsum
                    eveniet in, consequatur, saepe fugit consequuntur quis optio! Esse sed in velit quibusdam?</p>
            </div>
        </div>
</body>

</html>